* {
float: none;
}

html, body {
font: 12px/15px georgia, sans-serif;
background: #fff;
color: #000;
margin: 0;
width: 100%;
}

span {
margin-left:0;
}

.center{
border-style: double;
border-color: blue;
width:100%;
min-height: 100%;
background-image: url(http://drawsolve.net/bgg.jpg);
background-repeat: no-repeat;
background-position: top;
text-align: center;
max-width:437px;
}

h2 {font-size: 12;
text-decoration: underline;
}